@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    justify-content: space-between;
    background: #fff;
    cursor: pointer;
    border: none;
    width: 184px;
    height: 48px;
    background: #6c5CE7;
    font-weight: 700;
    font-size: 18px;
    color: white;
    letter-spacing: 0.2px;
    align-items: center;
    margin: 20px;
    line-height: 32px;
    border-radius: 16px;
}


.how {
    padding: 8px 16px;
}

.search {
    padding: 8px 16px;
}
