body {
font-family: 'Inter', sans-serif;
}

.pink {
    background-color: rgb(218, 67, 92);
}

.yellow {
    background-color: rgb(255, 255, 57);
}

.blue {
    background-color: rgb(72, 72, 241);
}

.green {
    background-color: rgb(37, 250, 37);
}