@import '/src/scss/components/variables.scss';
@import '/src/scss/components/mixin.scss';

.product-nav {
    .productNav-container {
    max-width: $mainMaxWidth-1140;
    width: 100%;
    margin: 0 auto;
    
    .product-nav-block {
    @include flex(_, space-between);
    
    li {
    a {
    @include flexColumn(3px);
    }
    }
    }
    }
    }
