// text color

$mainTextColor: #1d1d1f;
$secondTextColor: #828282;
$activeTextColor: #5e8bce;
$navItemTextColor: #bbbbbb;

// background color

$activeElement: #5e8bce;
$headerBackground: #2e2e2e;
$navBackground: #f1f1f1;
$productBackground: #f5f5f7;

// width & height

$mainMaxWidth-1200: 1200px;
$mainMaxWidth-1140: 1140px;
$mainMaxWidth-992: 992px;
$mainMaxWidth-720: 720px;
$mainMaxWidth-576: 576px;